header{
    width: 100vw;
    height: 85px;
    background-color: var(--clean-white);;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.3);
    position: fixed;
    z-index: 999;
    top: 0;
}

body{
    padding-top: 100px;
}

nav{
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.header_offer_section{
    width: 100%;
    min-height: 28px;
    text-align: center;
    display: grid;
    place-items: center;
    color: var(--clean-white);
    background-color: var(--rentora-blue);
    font-family: var(--font-secondary);
    font-size: var(--body);
}
.header-mid a:hover{
    color: var(--rentora-blue);
    transition: all 0.3s ease;
}
.header-mid .active{
    color: var(--rentora-blue);
}
.header-right{
    display: flex;
    gap: 10px;
}

#menu-button{
    display: none;
}
.header-mid{
    display: flex;
    justify-content: space-evenly;
    min-width: 400px;
    font-family: var(--font-primary);
}

@media (max-width : 820px){
    .header-mid{
        position: fixed;
        top: 0;
        right: -500px;
        background-color: var(--clean-white);
        width: 250px;
        max-width: 60vw;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        padding: 70px 0;
        transition: all 0.3s ease;
        visibility: hidden;
        opacity: 0;
        z-index: 99999;
    }
    .header-mid.active{
        right: 0;
        visibility: visible;
        opacity: 1;
    }
    .header-mid a{
        padding: 10px 30px;
    }
    .header-mid a:hover{
        background-color: var(--soft-gray);
    }
    .header-mid a.active{
        background-color: rgba(104, 183, 251, 0.2);
    }
    #menu-button{
        display: grid;
    }
}



/* toast-notification  */
.toast-notification{
    position: fixed;
    right: -500px;
    top: 20px;
    background-color: var(--clean-white);
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 6px;
    z-index: 3000;
    box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.3), -3px -3px 10px rgba(0, 0, 0, 0.3);
    font-family: var(--font-secondary);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.toast-notification.active{
    right: 30px;
    top: 20px;
    visibility: visible;

}
.toast-notification::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    border-radius: 0 0 5px 5px;
    animation: timer 3s linear forwards; 
}
@keyframes timer {
    from { width: 0%; }
    to { width: 100%; }
}

.toast-notification> :last-child{
    cursor: pointer;
}

.toast-notification.success::after {
    background-color: var(--success);
}
.toast-notification.success> :first-child{
    color: var(--success);
}
.toast-notification.warning::after{
   background-color: var(--warning);
}
.toast-notification.warning> :first-child{
    color: var(--warning);
}
.toast-notification.danger::after{
   background-color: var(--danger);
}
.toast-notification.danger> :first-child{
    color: var(--danger);
}