header{
    width: 100vw;
    height: 85px;
    background-color: var(--clean-white);;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.3);
    position: fixed;
    z-index: 999;
    top: 0;
}

body{
    padding-top: 100px;
}

nav{
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.header-mid{
    display: flex;
    justify-content: space-evenly;
    min-width: 400px;
    font-family: var(--font-primary);
}

.header_offer_section{
    width: 100%;
    min-height: 28px;
    text-align: center;
    display: grid;
    place-items: center;
    color: var(--clean-white);
    background-color: var(--rentora-blue);
    font-family: var(--font-secondary);
    font-size: var(--body);
}
.header-mid a:hover{
    color: var(--rentora-blue);
    transition: all 0.3s ease;
}
.header-mid .active{
    color: var(--rentora-blue);
}
.header-right{
    display: flex;
    gap: 10px;
}

#menu-button{
    display: none;
}

@media (max-width : 820px){
    .header-mid{
        z-index: 2000;
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: var(--clean-white);
        border-radius: 10px;
        gap: 10px;
        top: 90px;
        padding: 10px;
        margin: 10px;
        right: -500px;
        opacity: 1;
        transition: all 0.3s ease;
    }
    .header-mid.active{
        right: 20px;
        opacity: 1;
        display: flex;
    }
    #menu-button{
        display: grid;
    }
}