@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* colors */
    --clean-white : #ffffff;
    --soft-gray : #dbdbdb;

    --rentora-blue : #246BFD;
    --midnight-navy : #0F1B2D;
    --success : #198754;
    --bg-success : #19875437;
    --sunset-yellow : #FBCB43;
    

  /* Fonts */
  --font-primary: "Poppins", sans-serif;
  --font-secondary:  "Roboto", sans-serif;

  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Responsive sizes */
  --h1: clamp(1.75rem, 4vw, 2.5rem);   /* 28–40px */
  --h2: clamp(1.5rem, 3.5vw, 2rem);    /* 24–32px */
  --h3: clamp(1.25rem, 3vw, 1.5rem);   /* 20–24px */
  --h4: clamp(1.125rem, 2.5vw, 1.375rem); /* 18–22px */
  --h5: clamp(1rem, 2.2vw, 1.25rem);      /* 16–20px */
  --body: clamp(0.9rem, 1.5vw, 1rem);     /* 14–16px */
  --small: clamp(0.6rem, 1.2vw, 0.8rem); /* 13–14px */
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body.no-scroll {
    overflow: hidden;
}
a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: start;
    gap: 5px;
}
ul{
    list-style-type: none;
}
section{
    font-family: var(--font-secondary);
    font-size: var(--body);
    font-weight: var(--fw-regular);
}
.logo img{
    height: clamp(28px, 3vw, 38px);
}
.logo{
    display: flex;
    place-items: center;
    font-size: var(--h3);
    font-family: var(--font-primary);
}
.hero-button{
    font-size: var(--h6);
    font-weight: var(--fw-medium);
    padding: 10px 20px ;
    border: 2px solid var(--rentora-blue);
    background-color: var(--rentora-blue);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    animation: opening 0.7s ease;
    transition: all 0.3s ease;
    margin: 10px 0;
}
.hero-button:hover{
    background-color: transparent;
    border-color: var(--rentora-blue);
    color: var(--rentora-blue);
}

.btn-primary{
    background-color: var(--rentora-blue);
    color: var(--clean-white);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: var(--fw-medium);
}
.btn-primary:hover{
    background-color: #2366ed;
    transition: all 0.3s ease;
}
button:active{
    transform: scale(95%);
}

.round-button{
    height: clamp(30px,4vw,35px);
    width: clamp(30px,4vw,35px);
    border-radius: 50%;
    background-color: var(--soft-gray);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}
.icon{
    font-size: clamp(17px,2vw,19px);
}
.round-button:active{
    transform: scale(90%);
}
.round-button:hover{
    background-color: rgb(208, 208, 208);
}
p{
    font-size: var(--small);
}

label{
    color: black;
    font-size: var(--small);
    font-weight: var(--fw-medium);
    flex-grow: 1;
}

.text-input{
    min-height: 30px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    margin-top: 5px;
}
.text-input input,
.text-input select{
    border: none;
    outline: none;
    width: 100%;
    flex: 1 0;
    font-size: var(--body);
}
.text-input input:focus{
    outline: none;
}
.text-input i{
    width: 30px;
    color: rgb(129, 129, 129);
}

.badge{
    display: flex;
    font-size: 0.5rem;
    align-items: center;
    padding: 5px 8px;
    color: #06C270;
    background-color:  #06c27145;
    border-radius: 50px;
    border: 1px solid #96F0C9;
    margin: 10px 0;
    width: fit-content;
    gap: 3px;
}
.rating{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 0.6rem;
    color: #FFCC00;
}

.badge p{
    font-size: min(0.65rem, var(--small));
}


.slider-wrapper{
    position: relative;
    width: 100%;
}
.testimonials-slider,
.slider{
    display: flex;
    overflow-x: scroll ;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.slide{
    scroll-snap-align: start;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-wrapper .left-button,
.slider-wrapper .right-button{
    position: absolute;
    top: calc(50% - 15px);
    z-index: 10;
    background-color: var(--clean-white);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.slider-wrapper .left-button{
    left: -15px;
}
.slider-wrapper .right-button{
    right: -15px;
}

.wishlisted i{
    color: red;
    animation: wishlisted 0.3s;
}

.error{
    border: 1px solid #dd5454;
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.3),-2px -2px 5px rgba(255, 0, 0, 0.3);
    animation: error 0.3s ease-in-out;
}

@keyframes opening{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes wishlisted {
    0%{
        transform: scale(50%);
    }80%{
        transform: scale(150%);
    }80%{
        transform: scale(100%);
    }
}
@keyframes error {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}