.owner-nav{
    height: 100%;
    width: 200px;
    padding: 30px 0;
    position: fixed;
    left: 0;
    top: 60px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    z-index: 2px;
    background-color: var(--clean-white);
}
.owner-nav ul{
    width: 100%;
}
.owner-nav li{
    padding: 15px 20px;
    width: 100%;
}
.owner-nav li:hover{
    background-color: var(--soft-gray);
}
.owner-nav li.active{
    background-color: rgba(104, 183, 251, 0.2);
}
.body{
    display: flex;
    min-height: 60vh;
}
.wrapper{
    width: calc(100% - 200px);
    margin-left: 200px;
    height: 100%;
    padding: 0 20px 20px 20px;
}
form{
    width: 100%;
}
.form-group{
    margin-bottom: 15px;
}
label {
    font-size: var(--body);
    font-weight: bold;
    display: block;
    margin: 5px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 14px;
}
.checkbox-group input{
    width: fit-content;
}
.checkbox-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
}
.checkbox-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    width: fit-content;
}

.room-box {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin: 15px 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.room-box h4{
    font-size: var(--h3);
    margin-bottom: 15px;
}
.btn {
    padding: 10px 15px;
    border: none;
    background: black;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-secondary {
    background: #666;
}