
.hero-section img{
    height: 80vh;
    width: 85vw;
    border-radius: 16px;
    margin: auto;
    filter: blur(1.5px);
}
.overlay{
    height: 80vh;
    position: absolute;
    width: 85vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    border-radius: 16px;
    margin: auto;
}
.hero-section{
    position: relative;
    margin: 30px auto;
    width: fit-content;
    display: flex;
}
.heroText{
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 5%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.heroText .heading{
    font-size: var(--h1);
    font-weight: var(--fw-bold);
    color: black;
    max-width: 700px;
}
.heroText .desc{
    font-size: var(--h4);
    color:white;
}
.property-button{
    max-width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 75, 43);
    color: white;
    font-size: var(--h4);
    padding: 10px 20px;
}