
.text-input{
    height: 30px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    margin-top: 5px;
}
.text-input input{
    height: 100%;
}
.text-input input:focus{
    outline: none;
}
.text-input i{
    width: 30px;
    color: rgb(129, 129, 129);
}
.hero-section img{
    height: 80vh;
    width: 85vw;
    border-radius: 16px;
    margin: auto;
}
.hero-section{
    position: relative;
    margin: 30px auto;
    width: fit-content;
    display: flex;
}
.heroText{
    position: absolute;
    top: 30%;
    left: 5%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.heroText .heading{
    font-size: var(--h1);
    font-weight: var(--fw-bold);
    color: black;
    max-width: 700px;
}
.heroText .desc{
    font-size: var(--h4);
    color:white;
}
.property-button{
    max-width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 75, 43);
    color: white;
    font-size: var(--h4);
    padding: 10px 20px;
}