.hero-button{
    font-size: var(--h6);
    font-weight: var(--fw-medium);
    padding: 10px 20px ;
    border: 2px solid var(--rentora-blue);
    background-color: var(--rentora-blue);
    color: white;
    border-radius: 20px;
    display: flex;
    place-items: center;
    gap: 5px;
    cursor: pointer;
    animation: opening 0.7s ease;
    transition: all 0.3s ease;
    margin: 10px 0;
}
.hero-button:hover{
    background-color: transparent;
    border-color: var(--rentora-blue);
    color: var(--rentora-blue);
}
.hero-section{
    margin: 20px auto 40px auto;
    width: 90%;
    border-radius: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
    min-height: 100px ;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.hero-section-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.hero-section .img-section{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    border-radius: 16px;
    margin : 10px 0;
}
.hero-section img{
    height: min(40vh,45vw);
    border-radius: 16px;
}
.acomodation-name{
    font-size: var(--h2);
    font-weight: var(--fw-semibold);
    font-family: var(--font-primary);
    display: flex;
    align-items: center;
    gap: 10px;
}
.acomodation-type{
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--rentora-blue);
    color: var(--rentora-blue);
    font-size: var(--small);
    font-weight: var(--fw-medium);
}
.rating-box{
    display: flex;
    gap: 10px;
    align-items: center;
}
.rating{
    font-size: var(--small);
}
.rating-num{
    width: fit-content;
    padding: 7px;
    border-radius: 10px;
    background-color: var(--success);
    color: var(--clean-white);
    font-size: var(--body);
}

.about{
    min-width: 100% ;
    font-size: var(--body);
    font-family: var(--font-secondary);
}
.heading{
    width: 100%;
    font-size: var(--h5);
    font-weight: var(--fw-medium);
    font-family: var(--font-secondary);
    margin-bottom: 10px;
}

@media (max-width : 600px){
    .hero-section-header{
        flex-direction: column;
        align-items: start;
    }
}

.section{
    width: 90%;
    margin: auto;
    border-radius: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(0, 0, 0, 0.3);
    padding: 30px;
    min-height: 100px;
    margin-bottom: 30px;
}

.amenities{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5,1fr);
}
@media (max-width : 1000px){
    .amenities{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width : 525px){
    .amenities{
        grid-template-columns: repeat(2,1fr);
    }
}
.amenity{
    display: flex;
    font-size: var(--body);
    gap: 10px;
    align-items: center;
}
.amenity i{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: var(--bg-success);
    display: grid;
    place-items: center;
    color: var(--success);
}

iframe{
    width: 50%;
    border-radius: 16px;
}



.room-details-section ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.room-details-section li{
    display: flex;
}
.room-details-section img{
    width: min(60vh,30vw);
    border-radius: 0 16px 16px 0;
}
.rooms{
    border: solid rgba(0, 0, 0, 0.3);
    border-width: 2px 0 2px 2px;
    border-radius: 16px 0 0 16px;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.room-details{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.room-tags{
    display: flex;
    gap: 10px;
    margin-top: 3%;
}
.room-details span{
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.room-update{
    margin: 10px;
    color: red;
}
.price{
    font-weight: var(--fw-medium);
    color: var(--rentora-blue);
}
.room-details-section button{
    width: 100%;
    font-size: var(--body);
    font-weight: var(--fw-medium);
    padding: 10px;
    margin-top: 20px;
}

@media (max-width : 700px){
    .room-details-section li{
        flex-direction: column-reverse;
    }
    .room-details-section img{
        width: 100%;
        border-radius: 16px 16px 0 0;
    }
    .rooms{
        border-radius: 0 0 16px 16px;
        border-width: 0 2px 2px 2px;
    }
}