#hero-section{
    background-color: var(--clean-white);
    box-shadow: none;
    height: fit-content;
    animation: none;
    margin-bottom: 20px;
    height: 0px;
    padding: 20px;
}
#hero-section form{
    background-color: var(--clean-white);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    min-height: 60px;
    width: 100%;
    min-width: fit-content;
    position: fixed;
    left: 0;
    top: 80px;
    border-radius: 16px;
    padding: 15px;
    display: flex;
    gap: 10px;
    z-index: 99;
}
.featured-properties-wrapper{
    margin-top: 0px;
    width: 100vw;
    min-height: 65vh;
    grid-template-columns: repeat(5,1fr);
}
@media (max-width : 1600px) {
    .featured-properties-wrapper{
        grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width : 1200px) {
    .featured-properties-wrapper{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width : 1000px) {
    .featured-properties-wrapper{
        margin-top: 200px;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width : 900px) {
    .featured-properties-wrapper{
        margin-top: 200px;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width : 600px) {
    .featured-properties-wrapper{
        margin-top: 200px;
        grid-template-columns: 1fr;
    }
}